* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --secondary-color: #2e80ce;
    --text-color: #575f66;
    --white: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ==================== Common  ==================== */
a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0px 8px;
    border-radius: 9999px;
    background: var(--secondary-color);
    height: var(--height, 60px);
    min-width: var(--width, 205px);

    color: var(--white);
    font-size: 1.8rem;
    line-height: 1.67;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.section-heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.section-desc {
    margin-top: 18px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* ==================== Header  ==================== */
.header {
    position: sticky;
    left: 0;
    right: 0;
    top: -22px;
    z-index: 999;
    padding: 30px 0 8px;
    background: var(--primary-color);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link,
.action__link {
    display: inline-block;
    padding: 4px 21px;
    color: #c9d2da;
    font-weight: 300;
    line-height: 1.75;
}

.nav__link:hover,
.nav__link:active {
    text-shadow: 1px 0 0;
    color: var(--white);
}

.nav__link--active {
    display: flex;
    align-items: center;
}

.nav__link--active::before {
    margin-right: 8px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--white);
}

.action {
    display: flex;
    align-items: center;
    gap: 28px;
}

.action__link:hover {
    color: var(--white);
}

.action__btn {
    --width: 104px;
    --height: 44px;
    font-size: 1.6rem;
    line-height: 1.75px;
}

/* ==================== Hero  ==================== */
.hero {
    background: var(--primary-color);
    padding: 68px 0 110px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    width: 44%;
}

.hero__heading {
    color: var(--white);
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.02em;
}

.hero__desc,
.hero__phone {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    margin-top: 0;
    font-weight: 400;
    color: var(--white);
}

/* Hero media */

.hero__images {
    width: 56%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
}

.hero__img:last-child {
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

/* ==================== Service  ==================== */
.service {
    padding: 170px 0;
}

.service__head {
    margin: 0 auto;
    max-width: 468px;
    text-align: center;
}

.service-row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    align-items: center;
    gap: 19px;
    padding: 21px 22px 20px;
    background: var(--white);
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: var(--white);
    background: var(--secondary-color);
}

.service-item__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);

    background: #eff6fd;
    color: var(--primary-color);
    transition: 0.25s;
}

.service-item__title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
